<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Radiant Mining Tech. : </title>
		<link rel = "icon" href = "/images/logo.png" type = "image/x-icon"> 
		<meta title="Radiant Mining Technologies Ltd. | Hydraulic Powerpack,Hydraulic Machinery Spare Parts,Hydraulic Machinery Equipment Manufacturers">
		<meta name="description" content="Hydraulic Powerpack manufacturers - RADIANT MINING TECHNOLOGIES LTD. exporters, suppliers of Hydraulic Machinery Spare Parts india, indian Hydraulic Powerpack,Hydraulic Machinery Equipment manufacturer, wholesale Hydraulic Machinery Spare Parts suppliers, Hydraulic Powerpack, Hydraulic Machinery Spare Parts, Hydraulic Machinery Equipment" />
	<meta name="keywords" content="Hydraulic Powerpack manufacturers - RADIANT MINING TECHNOLOGIES LTD. exporters, suppliers of Hydraulic Machinery Spare Parts india, indian Hydraulic Powerpack,Hydraulic Machinery Equipment manufacturer, wholesale Hydraulic Machinery Spare Parts suppliers, Hydraulic Powerpack, Hydraulic Machinery Spare Parts, Hydraulic Machinery Equipment" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	</head>
	<body>
		<div class="se-pre-con">
		</div>
		<nav class="navbar navbar-expand-lg sticky-top navbar-light">
  <a class="navbar-brand mr-lg-3 mr-0" href="/"><img style="height: 60px" src="/images/logo.png" loading="lazy">Radiant Mining Technologies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About Us</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="/products">Our Products</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-2 ml-3" action="/search" method="post">
		<div class="input-group">
		  <input class="form-control my-2 my-sm-0 ml-1 mr-2" style="border-radius: 50px 50px 50px 50px" type="search" name="keyword" placeholder="Search" aria-label="Search">
		  <div class="input-group-append" id="search">
			 <button class="btn my-2 my-sm-0" style="border-radius: 50px 50px 50px 50px" type="submit"><i class="fas fa-search"></i></button>
		  </div>
		</div>
    </form>
  </div>
</nav>